/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffff9;
}

.container {
  max-width: 1140px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
header nav ul li img {
  width: 1.5rem;
}
section {
  margin: 50px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne", sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

nav ul li a {
  text-decoration: none;
  color: #3d3d3d;
}

.imgSophie {
  object-fit: contain;
}

li:hover {
  cursor: pointer;
  color: #b1663c;
}
.filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.filtre {
  cursor: pointer;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  margin-right: 1rem;
  border: 1px solid #1d6154;
  color: #1d6154;
  border-radius: 60px;
  padding: 0.7rem;
}
.filtre:hover {
  background: #1d6154;
  color: white;
}
#introduction {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: 30px 0 0 0;
  width: 90%;
  object-fit: contain;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  padding: 10px 40px 0 0;
  line-height: 18px;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 3em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

.edition {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

.edition button {
  border: none;
  background: #ffffff;
  color: black;
  border-radius: 60px;
  padding: 0.5rem 1.5rem;
  margin-left: 0.5rem;
}

.edition_designer {
  display: block;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: center;
}

.title span {
  cursor: pointer;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
}

#introduction figure figcaption {
  cursor: pointer;
  padding-top: 0.6rem;
  padding-left: 3.6rem;
}

.modeEdition {
  display: block;
}

.editionNone {
  display: none;
}

.editionBlock {
  display: block;
}

.modale,
.modaleAddProject {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 55%;
  top: 20%;
  right: 30%;
  left: 20%;
  border-radius: 10px;
  padding: 3rem;
}

.figureZoom {
  position: absolute;
  background-color: black;
  padding: 0.3rem;
  top: 0.4rem;
  right: 2rem;
}

.figureZoom i {
  color: white;
}

.btnCloseModale,
.btnCloseAddModale {
  display: block;
  text-align: right;
}

#close {
  font-size: 25px;
}

.btnCloseModale i,
.btnCloseAddModale i {
  cursor: pointer;
}

.modale h3 {
  text-align: center;
  font-size: 2em;
  margin-top: 1rem;
}

.galleryModale {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 2rem;
}

.galleryModale figure {
  position: relative;
  margin-right: 0.8rem;
  margin-bottom: 0.5rem;
  width: 18%;
}

figure .imgModale {
  width: 100%;
  object-fit: contain;
}

.deleteProject {
  cursor: pointer;
  padding: 0.3rem;
  background-color: black;
  color: white;
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
}

.btnAddProjectModale {
  cursor: pointer;
  display: block;
  margin: auto;
  background: #1d6154;
  border-radius: 60px;
  color: white;
  border: none;
  padding: 0.8rem 4rem;
  font-family: "Syne", sans-serif;
}

.deleteGallery {
  text-align: center;
  margin-top: 2rem;
  color: red;
  cursor: pointer;
}

.modaleAddProject_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modaleAddProject h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2em;
}

.bloc-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  background-color: #e8f1f7;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 3px;
}

.bloc-picture i {
  font-size: 4rem;
  color: #b9c5cc;
}

.btnAddFile button {
  width: 200px;
  background: #cbd6dc;
  border-radius: 50px;
  border: none;
  padding: 1rem;
  color: #306685;
  font-weight: 500;
}

.btnAddFile {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.btnAddFile input[type="file"] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

#newImg {
  display: none;
  width: 200px;
  height: 200px;
}

.inputAddProject {
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 2rem;
}

.inputAddProject input {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.inputAddProject select {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.inputAddProject label,
.inputAddProject select {
  display: block;
  width: 100%;
  text-align: left;
}

.bouton_add_picture {
  display: block;
  margin: auto;
  background: #1d6154;
  border-radius: 60px;
  border: none;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.back {
  cursor: pointer;
}

.btnDisabled {
  display: block;
  margin: auto;
  background-color: #a7a7a7;
  cursor: none;
}

footer {
  width: 100%;
  background-color: white;
}

.error {
  text-align: center;
  display: none;
  color: red;
}

.imgError {
  color: red;
  display: none;
  margin-bottom: 2rem;
  text-align: center;
}